@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

@foreach (var user in Model.Users)
{
    <div>
        <p>@user.Name</p>
        <p>@user.Description</p>
    </div>
}
